Gemfile.lock
.byebug_history
db/*.db.

# Mac
.DS_Store
.DocumentRevisions-V100
.Spotlight-V100
.Trashes

# Windows
Thumbs.db

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
