<h1>Your cart</h1>

<% if @cart_items.empty? %>
  <p>Your cart is empty.</p>
<% else %>
  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>

    <% @cart_items.each do |item| %>
      <tr>
        <td><%= item["name"] %></td>
        <td><%= item["quantity"] %></td>
        <td><%= item["price"] * item["quantity"] %> kr</td>
      </tr>
    <% end %>
  </table>

  <form action="/checkout" method="post">
    <button class="checkout">Checkout</button>
  </form>
<% end %>
